@charset "utf-8";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    cursor: url(../image/cusor_a.png), auto;
}

body {
    font-family: 'Pretendard';
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    cursor: url(../image/cuusor.png), auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* header */
header {
    background-color: #FFD791;
    padding: 10px 0;
}

.header_in {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.nav a {
    font-size: 25px;
    font-weight: 500;
}

.nav a:hover {
    color: #f18b2f;
    font-weight: 800;
}

.login {
    display: flex;
    gap: 10px;
}

.login a {
    background-color: #5f3d33;
    color: #fff;
    border-radius: 50px;
    padding: 3px 12px;
}

.login a:hover {
    background-color: #f18b2f;
}

.m_nav {
    display: none;
}

input[id="menuicon"] {
    display: none;
}

/*메뉴 아이콘 버튼 크기, 위치*/
input[id="menuicon"]+label {
    display: block;
    width: 60px;
    height: 40px;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 99;
    transition: all 0.5s;
    cursor: pointer;
}

/*메뉴 버튼 클릭했을 때 X버튼 색상*/
input[id="menuicon"]:checked+label span {
    background: #333;
}

/*메뉴 세줄 버튼*/
input[id="menuicon"]+label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 6px;
    border-radius: 30px;
    background: #333;
    transition: all 0.5s;
}

input[id="menuicon"]+label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
    bottom: 0;
}

/*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}


/*메뉴 창*/
.sidebar {
    width: 60%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    transition: all 0.5s;
    border-top: 18px solid #5f3d33;
    box-sizing: border-box;
    padding: 30px;
}

input[id="menuicon"]:checked+label+div {
    right: 0;
}

.sidebar::before {
    content: '';
    position: absolute;
    top: 170px;
    border: #a4918b 1px solid;
    margin-left: -30px;
    width: 130%;
}

.sidebar ul li:nth-of-type(2) {
    margin: 10px 0 5px;
    font-size: 25px;
    font-weight: 700;
    color: #5f3d33;
}

.sidebar ul li:nth-of-type(3) a {
    display: block;
    font-size: 13px;
    color: #a77566;
    font-weight: 500;

    padding-bottom: 20px;
}

.sidebar ul li:nth-of-type(4) a,
.sidebar ul li:nth-of-type(5) a,
.sidebar ul li:nth-of-type(6) a,
.sidebar ul li:nth-of-type(7) a,
.sidebar ul li:nth-of-type(8) a {
    display: block;
    font-size: 25px;
    color: #5f3d33;
    font-weight: 600;
    margin: 20px 0;
}

.sidebar ul li:nth-of-type(9) {
    margin-top: 280px;
}



/* header */

/* 메인배너 상단알림 */
.main_alarm {
    background-color: #fff;
}

.main_alarm_in {
    width: 1320px;
    margin: auto;
    align-items: center;
    padding: 10px 0;
    height: 40px;
    overflow: hidden;
}

.alarm_ani {
    animation: alarm 5s infinite alternate;
}

.alarm_text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

@keyframes alarm {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    45% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-55%);
        opacity: 0;
    }

    50% {
        transform: translateY(-55%);
        opacity: 1;
    }

    100% {
        transform: translateY(-55%);
        opacity: 1;
    }
}

.alarm_text h5 {
    display: inline-block;
    background-color: #f18b2f;
    padding: 5px 20px;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    margin-right: 30px;
}

.main_alarm_in a {
    font-weight: 600;
    font-size: 18px;
}

.main_alarm_in a:hover {
    color: #f18b2f;
}

/* 메인배너 상단알림 */

/* main_banner */
.main_banner {
    background-color: #f5efe0;
    text-align: center;
    display: block;
    box-sizing: border-box;
    position: relative;
    height: 840px;
    overflow: hidden;
}

.main_in {
    animation: main_in 2s 1s;
}

@keyframes main_in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main_in h1 {
    font-size: 116px;
    margin-top: 20px;
    animation: main_h1 2s 1s;
    background-color: #f5efe0;
}

@keyframes main_h1 {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(1%);
        opacity: 1;
    }
}

.main_in p {
    font-size: 28px;
    font-weight: 600;
    animation: main_p 2s 1s;
    background-color: #f5efe0;
}

@keyframes main_p {
    0% {
        transform: translateY(40%);
        opacity: 0;
    }

    100% {
        transform: translateY(1%);
        opacity: 1;
    }
}

.main_in p b {
    color: #f18b2f;
}

.main_in {
    position: relative;
    width: 900px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
}

.main_banner img {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%) scale(0.6);
    clip-path: inset(5% 5% -10px 5% round 500px 500px 0 0);
    animation: main_banner 1s 1s forwards;
}

@keyframes main_banner {
    0% {
        clip-path: inset(50% 20% 0 20% round 600px 600px 0 0);
    }

    100% {
        clip-path: inset(5% 5% 0 5% round 500px 500px 0 0);
    }
}

.main_banner h4 {
    position: absolute;
    background-color: #ffba7e;
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
    padding: 5px 50px;
    box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.5);
    font-size: 40px;
}

.main_text1 {
    top: 400px;
    left: -250px;
    transform: rotate(20deg);
    animation: main_text1 0.8s 1s cubic-bezier(0.05, 0.67, 0.38, 1.15);
}

@keyframes main_text1 {
    0% {
        transform: translateY(-500%) rotate(0);
        opacity: 0;
    }

    100% {
        transform: translateY(1%) rotate(20deg);
        opacity: 1;
    }
}

.main_text2 {
    top: 650px;
    left: -290px;
    transform: rotate(-20deg);
    animation: main_text2 0.8s 1s cubic-bezier(0.05, 0.67, 0.38, 1.15);
}

@keyframes main_text2 {
    0% {
        transform: translateY(500%) rotate(0);
        opacity: 0;
    }

    100% {
        transform: translateY(1%) rotate(-20deg);
        opacity: 1;
    }
}

.main_text3 {
    top: 400px;
    right: -250px;
    transform: rotate(-20deg);
    animation: main_text2 0.8s 1s cubic-bezier(0.05, 0.67, 0.38, 1.15);

}

.main_text4 {
    top: 650px;
    right: -200px;
    transform: rotate(15deg);
    animation: main_text1 0.8s 1s cubic-bezier(0.05, 0.67, 0.38, 1.15);

}

/* main_banner */


/* 메인 소개글1 */
.main1 {
    position: relative;
    perspective: 1000px;
}

.main1_in {
    width: 1320px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

.main1_in h1 {
    font-size: 120px;
}

.main1_in h2 {
    color: #f18b2f;
    margin-bottom: 40px;
}

.main1_in p {
    font-size: 25px;
    line-height: 40px;
}


/* 폴라로이드 사진 */
.photo {
    background-color: #f5efe0;
}

.photo_in {
    width: 1320px;
    height: 860px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.photo_in h3 {
    font-size: 30px;
}

.photo_in h1 {
    font-size: 60px;
}

.photo_in h1:hover {
    transform: rotate(3deg);
}

.photo_in img {
    position: absolute;
}

.p1 {
    top: 10px;
    left: 150px;
    z-index: 4;
}

.p2 {
    top: 270px;
    left: -50px;
    z-index: 2;
}

.p3 {
    top: 500px;
    left: 150px;
}

.p4 {
    top: 480px;
    right: 200px;
}

.p5 {
    top: 300px;
    right: -50px;
    z-index: 3;
}

.p6 {
    top: 50px;
    right: 150px;
}

.t1 {
    top: 60px;
    left: 33%;
    z-index: 5;
}

.t2 {
    top: 230px;
    left: 45%;
}

.t3 {
    top: 75%;
    left: 30%;
}

.t4 {
    top: 65%;
    left: 80%;
    z-index: 4;
}

.t5 {
    display: none;
}

/* 폴라로이드 사진 */

/* 글자 흘러가는 애니메이션 */
.text_ani {
    color: #f18b2f;
    font-size: 110px;
    font-weight: 400;
    display: flex;
    overflow: hidden;
}

.text_ani ul {
    align-items: center;
    display: flex;
    white-space: nowrap;
    animation: text_ani1 50s infinite linear;
}

@keyframes text_ani1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* 메인1 소개글 */


/* 웨이브박스_하는 일 */
.wave_box {
    background-color: #f5efe0;
    height: 940px;
    position: relative;
    overflow: hidden;
}

.wave_line {
    position: absolute;
    top: 40%;
    left: 0;
    animation: wave_line infinite linear 4s alternate;
}

.wave_cyc1 {
    position: absolute;
    top: 35%;
    left: 15%;
    animation: wave_cyc infinite linear alternate 1s;
}

.wave_cyc2 {
    position: absolute;
    top: 60%;
    left: 90%;
    animation: wave_cyc infinite linear alternate 1s;
}

.wave_cyc3 {
    position: absolute;
    top: 30%;
    left: 70%;
    animation: wave_cyc infinite linear alternate 1s;
}

@keyframes wave_line {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-40%);
    }
}

@keyframes wave_cyc {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateY(40px);
    }
}

.mySwiper {
    width: 1000px;
    height: 600px;
    margin: auto;
    padding: 150px 0;
}


.mySwiper .swiper-slide h4,
.mySwiper .swiper-slide p {
    opacity: 0;
    transition: 1s;
}

.mySwiper .swiper-slide-active h4,
.mySwiper .swiper-slide-active p {
    opacity: 1;
}

.big_img {
    clip-path: inset(35% 20% round 200px);
    transition: 1s;
    margin-top: 150px;
}

.mySwiper .swiper-slide-active .big_img {
    clip-path: inset(0 0 round 0);
    margin-top: 0px;
}

.swiper-slide h4,
.swiper-slide p {
    padding-left: 90px;
}

.swiper-slide h4 {
    font-size: 30px;
}

.swiper-slide p {
    font-size: 20px;
}

/* 웨이브박스_하는 일 */


/* 후원자 이야기 */
.story_in2 {
    display: none;
    height: 450px;
}

#product-carousel-container {
    position: relative;
    width: 50%;
    margin: auto;
}

#product-carousel {
    height: 200px;
    position: relative;
}

#product-carousel li {
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    margin: auto;

    position: absolute;
    left: 50%;
    top: 0;
    width: 30%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    transition: -webkit-transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}

#product-carousel li img {
    width: 180px;
    margin: 10px auto;
}

#product-carousel li.item-1 {
    z-index: 2;
    -webkit-transform: translateX(-50%) scale(1) translate3d(0, 0, 0);
    transform: translateX(-50%) scale(1) translate3d(0, 0, 0);
}

#product-carousel li.item-2 {
    z-index: 0;
    -webkit-transform: translateX(-50%) scale(0.7) translate3d(240%, -10%, 0);
    transform: translateX(-159%) scale(0.7) translate3d(240%, -10%, 0);
}

#product-carousel li.item-3 {
    z-index: 1;
    -webkit-transform: translateX(-50%) scale(0.7) translate3d(240%, -10%, 0);
    transform: translateX(-282%) scale(0.7) translate3d(240%, -10%, 0)
}

#product-carousel li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

#product-carousel li:not(:hover) img {
    transition: -webkit-transform .075s ease-out;
    transition: transform .075s ease-out;
    transition: transform .075s ease-out, -webkit-transform .075s ease-out;
}

#product-carousel li {
    width: 100%;
    height: auto;
    margin: 20px auto;
    transition: -webkit-transform .25s ease-in;
    transition: transform .25s ease-in;
    transition: transform .25s ease-in, -webkit-transform .25s ease-in;
}


.story {
    width: 1320px;
    margin: 30px auto 100px;
    text-align: center;
}

.story span {
    display: none;
}

.story b {
    color: #f18b2f;
}

.story h1 {
    font-size: 87px;
    margin: 100px 0;
}

.story_in {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.story_in ul img {
    transition: 0.5s;
}

.story_in ul:hover img {
    border-radius: 80px;
}

.brown_line {
    font-size: 25px;
    font-weight: 500;
}

.story_in .brown_line p:hover::before {
    transform: scaleX(1);
}

.more_btn {
    border: 3px solid #333;
    display: inline-block;
    border-radius: 50px;
    padding: 5px 25px;
    font-size: 30px;
    font-weight: 800;
    overflow: hidden;
    position: relative;
}

.more_btn span {
    display: inline-block;
    width: 45%;
    height: 100%;
    background-color: #f18b2f;
    position: absolute;
    border-radius: 100%;
    transition: 0.5s;
}

.more_btn span:nth-of-type(1) {
    left: 0;
    top: 100%;
}

.more_btn span:nth-of-type(2) {
    left: 25%;
    top: 100%;
    transition-delay: 0.1s;
}

.more_btn span:nth-of-type(3) {
    left: 50%;
    top: 100%;
    transition-delay: 0.2s;
}

.more_btn span:nth-of-type(4) {
    left: 75%;
    top: 100%;
    transition-delay: 0.3s;
}

.more_btn:hover {
    border: 3px solid #f18b2f;
}

.more_btn:hover span {
    top: 0;
    transform: scale(1.5, 1.5);
}

.more_btn:hover p {
    color: #fff;
    position: relative;
    z-index: 2;
}

/* 후원자님의 따뜻한 한마디 */
.review {
    background: url(../image/message_bg.png) no-repeat 30% 100% #f5efe0;
}

.review_in {
    overflow: hidden;
    width: 1100px;
    height: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 10px 0 0;
    box-sizing: border-box;
    overflow: hidden;
}



.review_box {
    width: 300px;
    height: 350px;
    border-radius: 60px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 50px;
    margin-bottom: 20px;
    box-shadow: #ccc 10px 10px 10px;
}

.review_box h4 {
    color: #f18b2f;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
}

.review_box li {
    width: 300px;
    height: 200px;
    text-align: left;
    margin: auto;
}

.review_box p {
    font-size: 20px;
}

.review_box h5 {
    font-size: 18px;
}

.re_text {
    font-size: 40px;
    padding: 40px 0;
    margin-top: 50px;
}

.scroll_review_right {
    height: 1850px;
    align-items: center;
    white-space: nowrap;
    animation: scroll_right 20s infinite linear;
}

.scroll_review_left {
    height: 1850px;
    align-items: center;
    white-space: nowrap;
    animation: scroll_left 20s infinite linear;
}

@keyframes scroll_right {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(-100% + 940px));
    }
}

@keyframes scroll_left {
    0% {
        transform: translateY(calc(-100% + 940px));
    }

    100% {
        transform: translateY(0);
    }
}


/* 후원자님의 따뜻한 한마디 */


/* 후원이 처음이신가요 ? */
.boost {
    text-align: center;
    margin: 90px 0;
}

.boost h1 {
    font-size: 60px;
    margin: 40px 0;
}

.highlight {
    background: linear-gradient(to right, #ffbf87 50%, transparent 50%) 50% 0;
    background-size: 200%;
    transition: all 1s;
}

.on {
    background-position-x: 0;
}


.boost_in {
    width: 1320px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: auto;
    text-align: center;
}

.goods_boost {
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 300px;
    height: 300px;
    padding: 150px 0 0 30px;
    box-sizing: border-box;
    position: relative;
    transition: 0.5s;
}

.goods_boost h3 {
    font-size: 25px;
    font-weight: 500;
}

.goods_boost a {
    position: absolute;
    top: 60%;
    left: 75%;
}

.goods_boost:nth-child(1) {
    background: url(../image/gift-box_icon.png)no-repeat 20px 40px;
}

.goods_boost:nth-child(2) {
    background: url(../image/hand-heart_icon.png)no-repeat 20px 40px;
}

.goods_boost:nth-child(3) {
    background: url(../image/day_icon.png)no-repeat 20px 40px;
}

.goods_boost:hover {
    background-color: #f18b2f;
    color: #fff;
    transform: scale(1.2);
}

/* 후원이 처음이신가요 ? */

/* 뉴스레터 */
.news {
    margin: auto;
    background-color: #f5efe0;
    text-align: center;
    padding: 50px 0;
    position: relative;
}

.news h2 {
    font-size: 60px;
    margin-bottom: 50px;
}

.flowslide_inner {
    width: 100%;
    overflow: hidden;
}

.flowslide .swiper-wrapper {
    transition-timing-function: linear;
}

.flowslide .swiper-slide a {
    width: 100%;
    height: 100%;
}

.flowslide .swiper-slide img {
    display: block;
    width: 100%;
}

/* footer */
footer {
    background-color: #ffd07d;
}

.footer_in {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer_text {
    color: #5f3d33;
}

.footer_text ul {
    display: flex;
    margin-top: 20px;
    gap: 30px;
}

.footer_text ul a {
    color: rgba(95, 61, 51, 0.5)
}

.sns {
    align-items: center;
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
}

.footer_link a:hover {
    color: #5f3d33;
}

.footer_text .sns a:hover {
    opacity: 0.5;
}

.footer_text  .sns2 {
    display: none;
    align-items: center;
    gap: 30px;
}

.footer_text  .sns2 a:hover {
    opacity: 0.5;
}


/* footer */

/* top */
.top_btn {
    position: fixed;
    bottom: 150px;
    right: 60px;
    animation: btn 1s infinite linear alternate;
    /* mix-blend-mode: luminosity; */
    z-index: 10;
}


@keyframes btn {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(50%)
    }
}




/* 테블릿 사이즈 */
@media (max-width:1340px) {

    .main_alarm_in,
    .main1_in,
    .photo_in,
    .story,
    .story_in,
    .boost_in {
        width: 100%;
    }

    .story_in ul li img {
        width: 100%;
    }
}

@media (max-width:1120px) {
    .nav {
        gap: 60px;
    }

    .p2 {
        display: none;
    }

    .p1 {
        top: 40px;
        left: 30px;
        z-index: 4;
    }

    .p3 {
        top: 490px;
        left: 30px;
    }

    .p4 {
        top: 480px;
        right: 300px;
    }

    .p5 {
        top: 350px;
        right: -20px;
    }

    .p6 {
        top: 50px;
        right: 10px;
    }

    .t3 {
        top: 75%;
        left: 25%;
    }

    .t4 {
        top: 68%;
        left: 65%;
    }

    .story>h1 {
        font-size: 75px;
    }

    .review_in {
        width: 100%;
    }

    .main_banner h4 {
        display: none;
    }

    .review_box {
        width: 250px;
        height: 300px;
    }

    .review_box h5 {
        margin-top: 60px;
    }

    .review_box p {
        font-size: 17px;
    }

    .re_text h2 {
        margin-left: 60px;
        font-size: 50px;
    }

    .review {
        background: url(../image/message_bg.png) no-repeat 45% 100% #f5efe0;
    }
}

@media (max-width:1050px) {
    .nav {
        gap: 40px;
    }

    .nav a {
        font-size: 20px;
    }

    .main_in {
        width: 100%;
    }

    .main1_in p {
        font-size: 23px;
    }

    .p4 {
        display: none;
    }

    .p5 {
        top: 460px;
        right: 20px;
    }

    .t1 {
        width: 300px;
    }

    .t2 {
        width: 250px;
        z-index: 5;
    }

    .t3 {
        width: 150px;
        top: 60%;
        left: 35%;
    }

    .t4 {
        width: 250px;
        top: 60%;
        left: 70%;
    }

    .story h1 {
        font-size: 60px;
    }

    .story_in p {
        font-size: 20px;
    }

    .review_box {
        width: 220px;
        height: 280px;
    }

    .review_box h4 {
        font-size: 25px;
    }

    .review_box p {
        font-size: 16px;
    }

    .review_box h5 {
        font-size: 13px;
    }

    .boost_in {
        gap: 10px;
    }

    .goods_boost {
        width: 260px;
        height: 260px;
        padding: 120px 0 0 30px;
    }

    .goods_boost h3 {
        font-size: 20px;
    }

    .goods_boost p {
        font-size: 15px;
    }

    .goods_boost:hover {
        transform: scale(1.1);
    }

    .goods_boost .more {
        width: 30px;
        position: absolute;
        top: 40px;
        right: -50px;
    }

    .goods_boost:nth-child(1),
    .goods_boost:nth-child(2),
    .goods_boost:nth-child(3) {
        background-size: 70px;
    }

    .footer_text {
        font-size: 13px;
    }

    .footer_in>a>img {
        width: 150px;
    }
}

@media(max-width:850px) {
    .nav a {
        font-size: 18px;
    }

    .main1_in p {
        font-size: 20px;
    }

    .photo_in h1 {
        font-size: 50px;
    }

    .text_ani li {
        font-size: 110px;
    }

    .re_text h2 {
        font-size: 40px;
    }

    .review_in {
        height: 800px;
    }

    .boost h1 {
        font-size: 50px;
    }

    .news h2 {
        font-size: 50px;
    }

    .main_in h1 {
        font-size: 90px;
    }
}

@media(max-width:810px) {
    .nav {
        gap: 15px;
    }

    .header_in a img {
        width: 120px;
    }

    .login a {
        font-size: 15px;
    }

    .main1_in h1 {
        font-size: 100px;
    }

    .goods_boost {
        width: 230px;
        height: 230px;
        background-size: 60px;
    }

    .goods_boost h3 {
        font-size: 18px;
    }

    .goods_boost p {
        font-size: 13px;
    }

    .goods_boost .more {
        width: 20px;
        position: absolute;
        top: 30px;
        right: -30px;
    }

    .boost h1 {
        font-size: 40px;
    }

    .news h2 {
        font-size: 40px;
    }

}

@media (max-width:740px) {
    .main_banner {
        height: 750px;
    }

    .main_banner img {
        top: 10px;
    }

    .main_banner {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .main_in h1 {
        font-size: 60px;

    }

    .main1_in h1 {
        font-size: 80px;
    }

    .main1_in p {
        font-size: 18px;
        line-height: 1.5;
    }

    .photo_img img {
        display: none;
    }

    .t1 {
        width: 400px;
        left: 50px;
    }

    .t2 {
        width: 400px;
        left: 280px
    }

    .t3 {
        width: 280px;
        left: 50px;
    }

    .t4 {
        display: none;
    }

    .t5 {
        display: block;
        width: 350px;
        top: 75%;
        left: 45%;
    }

    .story {
        width: 710px;
        margin: auto;
    }

    .story_in {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .story>h1 {
        font-size: 50px;
    }

    .story_in ul {
        margin-bottom: 30px;
    }

    .mySwiper {
        width: 100%;
    }

    .mySwiper .swiper-slide-active h4,
    .mySwiper .swiper-slide-active p {
        width: 400px;
        margin: auto;
        padding-left: 0;

    }

    .mySwiper .swiper-slide img {
        display: block;
        margin: auto;
    }

    .mySwiper .swiper-wrapper .swiper-slide:nth-of-type(4) {
        display: none;
    }

    .re_text h2 {
        display: none;
    }

    .review {
        background: #f5efe0;
    }

    .review_in {
        width: 100%;
        margin: auto;
        justify-content: space-around;
    }

    .goods_boost {
        width: 200px;
        height: 200px;
    }

    .more_btn {
        font-size: 20px;
        margin: -20px 0 50px;
    }

    .goods_boost h3 {
        margin-top: -25px;
    }

    .goods_boost p {
        font-size: 12px;

    }

    .goods_boost:nth-child(1),
    .goods_boost:nth-child(2),
    .goods_boost:nth-child(3) {
        background-size: 45px;
    }

    .sns {
        display: none;
    }

    .sns2 {
        display: block;
        display: flex;
        margin: auto;
        gap: 100px;
    }
}

@media(max-width:650px) {

    .nav,
    .login {
        display: none;
    }

    .m_nav {
        display: block;
    }

    .story {
        width: 100%;
    }

    .story h1 {
        font-size: 40px;
    }

    .big_img {
        margin-left: 40px;
    }

    .top_btn {
        display: none;
    }
}

@media(max-width:550px) {
    .main_in h1 {
        font-size: 40px;

    }

    .main_in p {

        font-size: 20px;
    }

    .main1_in h1 {
        font-size: 50px;
    }

    .main1_in h2 {
        font-size: 20px;
    }

    .main1_in p {
        font-size: 14px;
    }

    .t2 {
        left: 100px;
    }

    .t3 {
        top: 56%;
    }

    .t5 {
        left: 160px;
        top: 80%;
    }

    .photo_in {
        height: 700px;
    }

    .photo_in h3,
    .photo_in h1 {
        display: none;
    }

    .text_ani li {
        font-size: 50px;
    }

    .big_img {
        width: 400px;
    }

    .wave_box {
        height: 600px;
    }

    .swiper h4 {
        font-size: 20px;
    }

    .swiper p {
        font-size: 18px;
    }

    .swiper {
        padding: 30px 0;
    }

    .mySwiper .swiper-slide-active h4,
    .mySwiper .swiper-slide-active p {
        width: 350px;
        margin: auto;
        padding: 0;

    }

    .wave_line {
        top: 30%;
    }

    .goods_boost {
        box-sizing: border-box;
    }

    .goods_boost h3,
    .goods_boost p {
        margin-left: -10px;
    }

    .goods_boost p {
        font-size: 10px;
    }

    .goods_boost:hover {
        transform: translateY(-20px);
    }

    .news h2 {
        font-size: 30px;
    }

    .news {
        padding: 20px 0;
    }
}

@media(max-width:465px) {
    .alarm_text h5 {
        font-size: 15px;
    }

    .alarm_text p {
        font-size: 15px;
    }

    .main_alarm {
        height: 42px;
    }

    .t1,
    .t2,
    .t5 {
        width: 340px;
    }

    .t3 {
        width: 250px;
    }

    .t2 {
        left: 70px;
    }

    .t5 {
        left: 80px;
    }

    .story h1 {
        font-size: 30px;
    }

    .scroll_review_left {
        margin-right: 10px;
    }

    .review_box {
        width: 200px;
        height: 230px;
        box-sizing: border-box;
        padding: 30px 40px;
    }

    .review_box h4 {
        font-size: 20px;
    }

    .review_box p {
        font-size: 14px;
    }

    .review_box h5 {
        font-size: 10px;
        margin-top: 50px;
    }

    .boost_in {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .goods_boost {
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    }

    .goods_boost:nth-child(1),
    .goods_boost:nth-child(2),
    .goods_boost:nth-child(3) {
        background-size: 100px;
    }

    .goods_boost h3 {
        margin-top: 30px;
        font-size: 30px;
    }

    .goods_boost p {
        font-size: 18px;
    }

    .goods_boost:hover {
        transform: scale(1.1);
    }

    .goods_boost .more {
        top: -40px;
        left: 20px;
        width: 30px;
    }

    .footer_in {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 30px 0;
    }

    .footer_link,
    .sns2 {
        justify-content: center;

    }

    .footer_in img {
        margin-bottom: 10px;
    }
}

@media(max-width:401px) {
    input[id="menuicon"]+label {
        width: 40px;
        height: 30px;
        top: 25px
    }
    header {
        padding: 2px;
    }

    .main_alarm_in,
    .main_alarm {
        display: none;
    }

    .main_banner {
        height: 700px;
    }

    .main_banner img {
        top: -70px;
        clip-path: inset(10% 15% -10px 15% round 400px 400px 0 0);
        animation: main_banner1 1s 1s forwards;
    }

    @keyframes main_banner1 {
        0% {
            clip-path: inset(50% 20% 0 20% round 600px 600px 0 0);
        }

        100% {
            clip-path: inset(10% 15% -10px 15% round 500px 500px 0 0);
        }
    }

    .main_in p {
        font-size: 15px;
    }

    .main1_in p {
        font-size: 12px;
    }

    .mySwiper .swiper-slide-active h4,
    .mySwiper .swiper-slide-active p {
        width: 300px;
        margin: auto;
    }

    .mySwiper .swiper-slide-active h4 {
        font-size: 18px;
    }

    .mySwiper .swiper-slide-active p {
        font-size: 15px;
    }

    .t1,
    .t2,
    .t5 {
        width: 250px;
    }

    .t3 {
        width: 180px;
    }

    .mySwiper .swiper-slide-active .big_img {
        width: 300px;
        margin-left: 10px;
    }

    .story h1 {
        margin-bottom: 10px;
    }

    .story_in {
        display: none;
    }

    .story_in2 {
        display: block;
    }

    .story span {
        display: block;
        line-height: 10px;
    }

    .more_btn {
        font-size: 15px;
        background-color: #ffb778;
        border: none;
        color: #fff;
        margin-top: -80px;
    }

    .review_in {
        height: 500px;
        justify-content: center;
    }

    .review_box {
        padding: 30px 40px;
    }

    .scroll_review_right {
        display: none;
    }

    .highlight {
        font-size: 30px;
    }

    .goods_boost {
        text-align: center;
        margin: auto;
        padding: 100px 0;
        width: 100%;
        height: 230px;
        border: none;
        border-radius: 0;
        color: #fff;
    }

    .goods_boost h3 {
        margin-top: 10px;
        font-size: 20px;
    }

    .goods_boost p {
        font-size: 15px;
    }

    .goods_boost:nth-child(1) {
        background: url(../image/gift-box_icon.png) #ffb778 no-repeat 48% 20px;

    }

    .goods_boost:nth-child(2) {
        background: url(../image/hand-heart_icon.png) #fff no-repeat 50% 20px;
        color: #333;
    }

    .goods_boost:nth-child(3) {
        background: url(../image/day_icon.png) #ffb778 no-repeat 50% 20px;

        margin: 0;
        background-color: #ffb778;
    }

    .goods_boost:nth-child(2) {
        background-color: #fff;
        border-radius: 0;
        border: none;
    }

    .news {
        background-color: #fff;
        margin-top: -80px;
    }

    .news h2 .highlight {
        background: linear-gradient(to right, #ffbf87 50%, transparent 50%) 0% 0;
        background-size: 200%;
        transition: all 1s;
    }

    .on {
        background-position-x: 0;
    }

    .footer_text p {
        font-size: 11px;
    }

}

@media (max-width:375px) {
    .sidebar::before{
        top: 150px;
    }
    .sidebar ul li:nth-of-type(4) a,
    .sidebar ul li:nth-of-type(5) a,
    .sidebar ul li:nth-of-type(6) a,
    .sidebar ul li:nth-of-type(7) a,
    .sidebar ul li:nth-of-type(8) a {
        font-size: 20px;
        
    }
    .sidebar ul li:nth-of-type(9) img{
       display: none;
    }
    .sidebar p {
        font-size: 20px;
    }
    .sidebar{
        height: 525px;
    }

    .main_in h1 {
        font-size: 30px;
    }

    .main_in p {
        font-size: 12px;
    }

    .main_alarm {
        display: none;
    }

    .main_banner {
        height: 450px;
    }

    .main_banner img {
        width: 800px;
        top: -10px;
    }

    .main1 {
        width: 100%;
        margin: auto;
    }

    .main1_in h2 {
        font-size: 15px;
    }

    .main1_in p {
        font-size: 10px;
    }

    #product-carousel li p {
        font-size: 12px;
    }

    #product-carousel li img {
        width: 100%;
    }

    .more_btn {
        margin-top: -150px;
    }

    .photo_in {
        height: 500px;
    }

    .t2 {
        top: 180px;
        left: 50px;
    }

    .t3 {
        top: 280px;
    }

    .t5 {
        top: 380px;
        left: 50px;
    }

    .big_img {
        width: 300px
    }

    .mySwiper .swiper-slide-active h4,
    .mySwiper .swiper-slide-active p {
        width: 200px;
    }

    .mySwiper .swiper-slide-active p {
        font-size: 13px;
    }

    .wave_box {
        height: 500px;
    }

    .footer_text p {
        font-size: 9px;
    }
}